* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}

a {
	color: #575555;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 10px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  padding: 0;
  margin: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
*:focus {
  outline: 0 none;
}
.right {
  float: right;
}
.left {
  float: left;
}
a {
  text-decoration: none;
  outline: none;
}
.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: none;
}
body,
html {
  height: 100%;
}
body {
    font: 15px Arial, Tahoma, Verdana, sans-serif;
    color: #575555;
    width: 100%;
    height: 100%;
}
h1{
    text-transform: uppercase;
    font-family:'ConvGillSansCBold',Sans-Serif;
    font-size:21px;
    color:#222b61;
    padding: 0 0 22px 0;
}
h1.nop{
    padding: 0;
}
#header{
    width:100%;
    margin: 0 0 25px 0;
}
#main-menu{
    height: 30px;
    background: #222b61;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    font-family:'ConvGillSansCBold',Sans-Serif;
}
ul.menu > li {
    position: relative;
    display: inline-block;
}
#main-menu li{
    line-height: 30px;
    margin: 0 58px 0 0;
    font-weight: bold;
    color: #ffffff;
}
#main-menu span{
    cursor: pointer;
}
#main-menu ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
#main-menu .submenu {
    font-family: Arial;
    display: none;
    position: absolute;
    width: 469px;
    top: 28px;
    left: -25px;
    background: #f4f4f4;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-top: 2px solid #fd6d19;
}
#main-menu .submenu .col3{
    width: 50%;
}
#main-menu .submenu li {
    display: block;
    margin: 0 0 10px 0;
    text-transform: none;
}
#main-menu .submenu li:last-of-type {
    margin: 0;
}
#main-menu .submenu table{
    margin: 25px; 
    width: 418px;
}
.submenu .col1{
    width: 50%;
    padding-right: 10px;
    border-right: 1px solid #dcdcdc;
}
.submenu .col3{
    padding-left: 25px;
}
#main-menu .submenu a {
    display: block;
    color: #575555;
    text-decoration: none;
    font-size: 12px;
    line-height: normal;
}
#main-menu .submenu > li > a:hover {
    text-decoration: underline;
}
#main-menu ul > li:hover > .submenu {
    display: block;
}
#main-menu li.last{
    margin: 0;
}
#main-menu a{
    color:#ffffff;
}
#main-menu li.active a, #main-menu a.active, #main-menu a:hover, #main-menu span:hover{
    color:#fd6d19;
}
#top-line{
    height: 93px;
    background: #ffffff;
}
#icon-line{
    height:55px;
    background: url(../images/bkg_orange.png) #fd6d19 repeat-x;
    font-family:'ConvGillSans',Sans-Serif;
}
#footer{
    height: 127px;
    width: 100%;
    margin: 35px auto 0 auto;
    background: #ffffff;
}
#footer .container{
    height: 96px;
    border-top: 1px solid #dcdcdc;
    padding: 30px 10px 0 10px;
}
#wrapper{
    margin: 0 auto;
    width: 960px;
    height: 100%;
    min-height: 100%;
    height: auto;
    background: #ffffff;
}
.menu{
    margin: 0 0 0 15px;
}
.container{
    height: 100%;
    width:940px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    vertical-align: middle;
}
#logo{
    padding: 26px 0 0 10px;
    display: block;
    float: left;
}
.icon-txt{
    display: inline-block;
    margin: 0 0 0 0;
}
.icon-txt span{
    display: inline-block;
    width: 15px;
    height: 13px;
}
#top-line .icon-txt{
    line-height: 93px;
    float: left;
    margin: 0 25px 0 0;
}
#top-line .icon-phone{
    float: left;
    margin: 38px 4px 0 0;
}
#top-line .icon-mail{
    float: left;
    margin: 38px 9px 0 0;
}
 .icon-phone{
    background: url("../images/sprite.png") 15px 73px;
    width: 15px;
    height: 17px;
    margin: 0 1px 0 0;
    display: inline-block;
}
.icon-mail{
    background: url("../images/sprite.png") 15px 54px;
    margin: 0 0 0 24px;
    display: inline-block;
}
.icon-mail{
    margin: 0 5px 0 24px;
    width: 15px;
    height: 17px;
}
.orange-icons p{
    padding: 0 0 0 21px;
    margin: 0 0 19px 8px; 
}
.orange-icons span{
    display: inline-block;
    height: 16px;
    margin: 0 20px 19px 0;
    padding: 7px 0 0 21px;
}
.orange-icons .mail{
    background: url(../images/icon-mail-orange.png) no-repeat left center;
}
.orange-icons .phone{
    background: url(../images/icon-phone-orange.png) no-repeat left center;
}
.orange-icons .place{
    background: url(../images/icon-place-orange.png) no-repeat left center;
}
.orange-icons .calendar{
    background: url(../images/icon-calendar-orange.png) no-repeat left center;
}
.search-button{
    width: 317px;
    height: 43px;
    border: 1px solid #dcdcdc;
    float: right;
    margin: 25px 0 0 0;
}
.search-button input{
    height: 43px;
    border: none;
}
.search-button input[type="submit"], .search-button .find{
    width: 44px;
    border-left: 1px solid #dcdcdc;
    background: center url(../images/icon_search.png) no-repeat;
    float: right;
    cursor: pointer;
}
.search-button input[type="text"]{
    padding: 0 0 0 10px;
    width: 259px;
    border: none;
    height: 100%;
}

input[type="text"], input[type="password"]{
    border: 1px solid #dcdcdc;
    height: 34px;
    width: 177px;
    padding: 0 10px 0 10px;
}
#request-form input[type="submit"]{
    color:#ffffff;
    font-size: 13px;
    font-family:'ConvGillSansCBold',Sans-Serif;
    text-align: center;
    background: #fd6d19;
    width: 199px;
    height: 36px;
    border: none;
    text-transform: uppercase;
}
select{
    border: 1px solid #dcdcdc;
    height: 34px;
    width: 197px;
}
#icon-line ul{
    margin: 0 38px;
}
#icon-line li{
    display: table-cell;
    padding: 0 63px 0 55px;
    height: 55px;
    vertical-align: middle;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}
.item-term{
    background: url(../images/orange-icons.png) no-repeat 0 0;
}
.item-people{
    background: url(../images/orange-icons.png) no-repeat 0 -220px;
}
.item-garanty{
    background: url(../images/orange-icons.png) no-repeat 0 -165px;
}
.item-price{
    background: url(../images/orange-icons.png) no-repeat 0 -55px;
}
#icon-line li.item-price{    
    padding: 0 0 0 55px;
}
#footer-menu{
    width: 100%;
    margin: 0 0 35px 0;
    font-family:'ConvGillSansCBold',Sans-Serif;
    font-size: 13px;
}
#footer-menu li{
    display: inline;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 58px 0 0;
}
#footer-menu li.last{
    margin: 0;
}
#footer-menu a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
#footer-menu a:hover{
    text-decoration: underline;
}
.copyright{
    font-size: 11px;
    color:#575555;
    float: left;
}
#footer .icons{
    float: right;
}
.content{
    float: left;
    width: 680px;
    margin: 0 20px 0 0;
    font-size: 14px;
    color:#575555;
}
.column{
    float: left;
    width: 240px;
}
#request-block, .left-block{
    font-size: 12px;
}
.left-block a{
    text-decoration: none;
}
.left-block a:hover{
    text-decoration: underline;
}
#request-block .title, .left-block .title{
    height: 73px;
    background: #222b61;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    display: table-cell;
    width:240px;
    position: relative;
}
#request-block h3, .left-block h3{
    color: #ffffff;
    font-size: 13px;
    vertical-align: middle;
    font-family:'ConvGillSans',Sans-Serif;
}
#request-block .label, .left-block .label{
    background: url("../images/sprite.png") 15px 23px;
    bottom: -8px;
    height: 8px;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    width: 13px;
}
#request-block label{
    padding: 16px 0 6px 0;
    display: block;
}
#request-block .cnt, .left-block .cnt{
    margin: 5px 19px 19px 19px;
}
#request-block p, .left-block p{
    color:#767474;
    font-size:12px;
    font-style: italic;
    padding-top: 15px;
}
#request-block .customFile label{
    padding: 0;
}
.form-cnt{
    background: #ffffff;
    border:1px solid #dcdcdc
}
.customFile input {
    cursor: pointer;
    height: 90%;
    left: 0;
    opacity: 0.01;
    position: absolute;
    top: 0;
    width: 97%;
}
.customFile {
    margin: 0 auto;
    position: relative;
    color:#fd6d19;
    text-decoration: underline;
    font-size: 11px;
    margin-bottom: 29px;
}
label span, span.required{
    color: #fd6d19;
}


/* ---- Selectbox styles.
------------------------------------------------------ */
.sbHolder {
    background: url('../images/icon_dropdown.png') no-repeat 173px center;
    height: 38px;
    width: 198px;
    position: relative;
    cursor: pointer;
}
.date-box .sbHolder {
    width: 84px;
    float: left;
}
.date-box .sbHolder .sbSelector:link,
.date-box .sbHolder .sbSelector:visited,
.date-box .sbHolder.sbSelector:hover {
    padding: 0 10px;
    width: 65px;
}
.date-box .sbOptions {
    width: 84px;
}
.sbToggle {
    display: none;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 10px;
    width: 186px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
}
.sbOptions {
    background-color: #ffffff;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    z-index: 1009 !important;
    overflow-y: auto;
    line-height: normal;
    position: relative;
    top: 0 !important;
}
.sbOptions li:hover{
    background: #dcdcdc;
}
.sbOptions a:link, .sbOptions a:visited {
    display: inline-block;
    line-height: 18px;
    padding: 0 0 10px 10px;
    width: 169px;
}
.services .item{
    float:left;
    width:220px;
    height: 220px;
    font-size: 14px;
    font-family: Arial,Sans-Serif;
    margin: 0 10px 11px 0; 
    background: #ffffff;
}
.services .item:hover{
    box-shadow: 0 5px 5px rgba(206,207,217,1);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#a8abbe);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#a8abbe, strength=10);
}
.services .item.last{
    margin: 0 0 11px 0; 
}
.services .title{
    border: 1px solid #dcdcdc;
    height: 61px;
    text-align: center;
    padding: 10px 10px 0;
}
.services .title a{
    display: inline-block;
}
.orange-btn{
    width: 239px;
    height: 72px;
}
.orange-btn, .orange-btn a{
    background: url("../images/bkg_orange.png") repeat-x scroll 0 0 #fd6d19;
    color: #ffffff;
    font-family:'ConvGillSans',Sans-Serif;
    font-size: 13px;
    text-transform: uppercase;
}
.orange-btn .icon-tools{
    display: inline-block;
    height: 52px;
    margin: 13px 0 0 35px;
    padding-top: 7px;
    vertical-align: middle;
    width: 190px;
}
.orange-btn .icon-tools span {
    background: url("../images/orange-icons.png") no-repeat scroll 0 -114px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 47px;
    margin: -7px 15px 0 0;
    width: 46px;
}
.column .orange-btn{
    margin: 10px 0 0 0;
}
.work-steps{
    width: 100%;
    height: 60px;
    background: url("../images/bkg_orange.png") repeat-x #222b61 ;
    margin: 20px 0 0 0;
    color:#ffffff;
    font-size: 13px;
    font-family:'ConvGillSansCBold',Sans-Serif;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
.work-steps .container{
    position: relative; 
    z-index: 100;
}
.work-steps .title{
    background: url("../images/bkg_orange.png") repeat-x scroll 0 0 #fd6d19;
    width: 262px;
    height: 44px;
    padding-top: 16px;
    float: left;
}
.work-steps .blue-item{
    font-family:'ConvGillSans',Sans-Serif;
    float:left;
    line-height: 60px;
    padding: 0 42px 0 31px;
    background: url(../images/arrow_orange.png)  #222b61 right center no-repeat;
}
.work-steps .blue-item.last{
    background: #222b61;
    padding-right: 0;
}
.blue-line{
    background: #222b61; 
    width: 50%;
    height: 100%;
    position: absolute; 
    right: 0; 
    top: 0;
    z-index: 1;
}
.work-steps .line-change{
    background: url("../images/sprite.png") repeat scroll 95px 75px;
    float: left;
    height: 100%;
    margin: 0 0 0 -20px;
    width: 22px;
}
.main_text{
    background: #ffffff;
    color:#767474;
    font-size: 12px;
    padding: 37px 0 0 0;
}
.main_text td{
    color:#767474;
    font-size: 12px;
}
.main_text th{
    padding: 0 0 17px 0;
    color:#222b61;
    font-size: 13px;
    font-family:'ConvGillSansCBold',Sans-Serif;
    text-transform: uppercase;
}
.main_text .col1{
    padding: 0 19px 0 0;
}
.main_text .col2{
    padding: 0 0 0 19px;
    border-left: 1px solid #dcdcdc;
}
#googlemap{
    border:1px solid #dcdcdc;
    width:678px; 
    height:340px;
    margin: 0 0 50px 0;
}
#map_canvas{
    width:100%; 
    height:100%;
}
h2{
    color:#575555;
    font-weight: bold;
    font-size: 14px;
    padding: 0 0 15px 0;
}
/* norm document */
.list-view{
    color:#767474;
    font-size: 14px;
}
h3{
    font-size: 16px;
    color:#767474;
    font-weight: bold;
}
.list-view h3{
    padding: 0 0 9px;
}
.view-category{
    border-bottom:1px solid #dcdcdc;
    padding-bottom: 25px;
    margin: 22px 0 0;
}
.view-category.last{
    border-bottom:0;
}
.view-category.first{
    margin: 0;
}
.view-category .view{
    line-height: 28px;
}
.size{
    color:#8d8d8d;
    font-size:12px;
}
.file-icon{
    background: url("../images/icon-word.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 21px;
    margin: 0 4px 0 0;
    width: 18px;
}
/* Отзывы */
.item-img{
    border: 1px solid #dcdcdc;
    width:218px;
    padding: 22px 0 22px 0;
    text-align: center;
    float:left;
    position: relative;
    margin: 0 20px 0 0;
    min-height: 101px;
    line-height: 101px;
}
.item-txt{
    float:left;
    width:440px;
}
.item-txt .txt{
    color:#767474;
    font-size: 14px;
    font-style: italic;
    margin: 0 0 18px 0;
    width: 440px;
}
.item-img img{
    max-width: 174px;
}
.item-img .lbl{
    position: absolute;
    background: url(../images/lbl.png) no-repeat;
    width:11px;
    height: 12px;
    right: -11px;
    top: 9px;
}
.reviews .view{
    margin: 0 0 36px 0;
}
.reviews h3{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.reviews .list-view h3 {
    padding: 0 0 18px;
}
.author{
    color:#575555;
    font-size: 12px;
    padding: 0 0 9px 0;
}
.download-link{
    display: block;
    width:20px;
    height:20px;
    background: url(../images/icon-download.png) no-repeat;
}
.view-category .download-link{
    float:left;
    margin: 0 4px 0 0;
}
.our-works .title{
    background: url(../images/blue-bkg.jpg) repeat-x;
    height: 54px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-family:'ConvGillSans',Sans-Serif;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.our-works .lbl{
    background: url("../images/sprite.png") no-repeat scroll -124px -76px;
    bottom: -10px;
    height: 10px;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    width: 15px;
}
.our-works h4{
    line-height: 54px;
}
.our-works .works{
    background: #f4f4f4;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 26px 0 22px 0;
}
.our-works .orange-link{
    float:right;
    margin: 0 32px 0 0;
}
.orange-link{
    color: #fd6d19;
    font-size: 11px;
    text-decoration: underline;
}
.orange-link:hover{
    text-decoration: none;
}

#carousel {
    position: relative;
    overflow: hidden;
    width: 615px !important;
}
#carousel ul {
    position: relative;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#carousel li, #carousel div {
    float: left;
}
#carousel .wrapper{
    width:615px;
}
#container {
    width: 651px;
    position: relative;
    margin: 0 13px;
}
#carousel .item{
    width:200px;
    height: 165px;
    font-size: 12px;
}
#carousel .img{
    width:200px;
    height: 133px;
    overflow: hidden;
    margin: 0 0 10px 0;
}
#carousel {
    margin: 0 auto;
}
#carousel img {
    border: 0;
    width:200px;
}
#carousel-next, #carousel-prev {
    background: url("../images/sprite.png") no-repeat scroll -69px -43px rgba(0, 0, 0, 0);
    display: block;
    height: 20px;
    position: absolute;
    top: 58px;
    width: 14px;
    z-index: 100;
}
#carousel-next {
    right: -5px;
    background: url("../images/sprite.png") no-repeat scroll -69px -63px rgba(0, 0, 0, 0);
}
#ui-carousel-prev {
    left: 0;
}
#ui-carousel-next > span, #ui-carousel-prev > span {
    display: none;
}
.left-block li{
    padding: 10px 19px;
}
.left-block li.active{
    background: #fafafa;
    border-left: 4px solid #fd6d19;
    padding: 10px 19px 10px 15px;
}
.block-services .cnt{
    margin: 5px 0 33px;
}
.block-services{
    margin: 0 0 32px 0;
}
.block-services .label{
    background: url("../images/sprite.png") no-repeat scroll -104px -76px;
    width:17px;
    height: 11px;
    bottom: -11px;
}
.block-services .title{
    background: url("../images/bkg_orange.png") repeat-x scroll 0 0 #fd6d19;
    height:54px;
    border: 0;
}
.detail-view{
    margin: 0 0 42px 0;
}
.detail-view{
    color:#767474;
    font-size: 14px;
}
/* portfolio detail */
.detail-picture{
    width:100%;
    margin: 0 0 15px 0;
}
.small-text{
    font-size: 11px;
}
.photos_list img{
    margin: 0 6px 11px 0;
}
.photos_list img.last{
    margin: 0 0 11px 0;
}
.over-img{
    overflow: hidden;
    float:left;
    width:220px;
    height:147px;
    margin: 0 6px 11px 0;
}
.over-img.last{
    margin: 0 0 11px 0;
}
.portfolio .view{
    margin: 0 0 27px 0;
}
.portfolio .view a{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.portfolio .view a:hover{
    text-decoration: underline;
}
.portfolio .view p{
    font-size: 12px;
    margin: 0 0 12px 0;
}
.portfolio .view .image-over{
    height: 227px;
    overflow: hidden;
}
.portfolio .view img{
    width:100%;
}
.border-block{
    border: 1px solid #dcdcdc;
    padding: 24px 21px 25px 21px;
}
.portfolio .small-text{
    color: #575555;
}
.portfolio .orange-icons span{
    margin: 0 20px 0 0;
}
.more{
    width:28px;
    height:28px;
    background: url(../images/loader.gif) no-repeat;
    margin: 0 auto;
    display: none;
}
.hide{
    display: none;
}
.page-portfolio .column, .page-services .column, 
.page-documents .column, .page-reviews .column{
    margin: 45px 0 0;
}
.search-list .item{
    margin: 10px 0;
}
.search-list a{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 5px 0;
}
.search-list a:hover{
    text-decoration: underline;
}
.errorSummary{
    color: #f00;
}
input.error {
    border: 1px solid #f00;
}
#request-block p.flash{
    color:#008000;
}
.main_text th.col2{
    border: 0;
}
.main_text th{
    text-align: left;
}

@font-face {
	font-family: 'ConvGillSansCBold';
	src: url('../fonts/GillSansC-Bold_0.eot');
	src: local('☺'), url('../fonts/GillSansC-Bold_0.woff') format('woff'), url('../fonts/GillSansC-Bold_0.ttf') format('truetype'), url('../fonts/GillSansC-Bold_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ConvGillSans';
	src: url('fonts/GillSansC_0.eot');
	src: local('☺'), url('../fonts/GillSansC_0.woff') format('woff'), 
            url('../fonts/GillSansC_0.ttf') format('truetype'), 
            url('../fonts/GillSansC_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ConvGillSansLightC';
	src: url('../fonts/GillSansLightC_0.eot');
	src: local('☺'), url('../fonts/GillSansLightC_0.woff') format('woff'), 
            url('../fonts/GillSansLightC_0.ttf') format('truetype'), 
            url('../fonts/GillSansLightC_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.main_text ul, .main_text ol{
    list-style: inside;
}
.main_text li{
    margin: 0 0 0 10px;
}
.main_text p{
    padding: 5px 0;
}